.popup {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: rem(10);
  background: rgba(0, 0, 0, 0.8);
  z-index: $z-index-popup;

  &__content {
    position: relative;
    width: 100%;
    max-width: rem(500);
    padding: rem(80) rem(80);
    background: $primary;
    border-radius: 5px;
    box-shadow: 0 0 100px darken(purple, 17%);
    transition: box-shadow 0.3s;
    &--contact {
      padding-bottom: rem(25);
    }
    &:hover {
      box-shadow: 0 0 100px darken(purple, 13%);
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    color: $popup-footer-link;
    font-size: rem(12);
    margin-top: rem(40);
    li {
      margin: 0 rem(5);
    }
    a {
      text-decoration: underline;
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__cancel {
    position: absolute;
    top: rem(20);
    right: rem(20);
    opacity: 0.5;
    transition: all 0.3s linear;
    &:hover {
      transform: rotate(90deg);
      opacity: 1;
    }
  }
}
