.cabinet {
  &__form {
    width: rem(340);
  }
  &__avatar {
    flex-grow: 1;
    padding-left: rem(110);
    @include breakpoint($mobile) {
      padding: 0;
      order: -1;
      margin-bottom: rem(15);
    }
    img {
      display: block;
      margin-bottom: rem(15);
    }
  }
  &__file {
    color: $post-data-link-read;
    text-decoration: underline;
    cursor: pointer;
    input {
      display: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
