// Заголовки, общие БЄМ блоки и проче...
// MAIN
.page {
  padding: rem(100) 0 rem(50);
  padding-left: $sidebar-width;
  @include breakpoint($tablet) {
    padding-left: 0;
    padding-top: rem(70);
    .show-sidebar & {
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }
  }

  @include breakpoint($mobile) {
    padding-bottom: rem(50);
  }
  &--reset {
    padding: 0 0 0 $sidebar-width;
    @include breakpoint($tablet) {
      padding: 0;
      > .page__container {
        padding: 0;
        align-items: center;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
  }
  &__title {
    font-size: rem(21);
    color: $white;
    margin-bottom: rem(30);
    &--center {
      text-align: center;
    }
  }
}

// SIDEBAR
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;
  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - rem(40));
    top: rem(40);
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    padding-bottom: rem(15);
    overflow: auto;
    .show-sidebar & {
      transform: translateX(0);
    }
  }
}

// SOCIAL
.social {
  display: flex;
  justify-content: center;
  @include breakpoint($tablet) {
    display: none;
  }
}

// STORIES
.stories {
  display: grid;
  grid-column-gap: 15px;
  grid-template-rows: 195px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: rem(30);
  @include breakpoint($mobile) {
    grid-template-columns: 140px 140px 140px 140px;
    overflow: auto;
    margin-bottom: rem(20);
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
// ADD A POST
.add-post {
  margin-bottom: rem(30);
  box-shadow: 0 15px 25px rgba($black, 0.45);
  background-color: $secondary;
  border-radius: 5px;
  padding: rem(15) rem(20);
  @include breakpoint($mobile) {
    padding: rem(15);
  }
}
// POST
.post {
  box-shadow: 0 15px 25px rgba($black, 0.35);
  background-color: $primary;
  margin-bottom: rem(30);
  padding: rem(25);
  border-radius: 5px;
  @include breakpoint($mobile) {
    padding: rem(15);
  }
  &__searches {
    padding-top: 1px;
  }
}

// PAGINATION
.pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(20);
  @include breakpoint($mobile) {
    margin-top: rem(30);
  }
}
// related
.related {
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: rem(5);
}

.comments {
  margin-top: rem(30);
}

.work {
  margin-bottom: rem(30);
  box-shadow: 0 15px 25px rgba($black, 0.35);
  background-color: $primary;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  @include breakpoint($mobile) {
    flex-direction: column;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(30);
}

.cabinet {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(600);
  @include breakpoint($mobile) {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}
