// Заголовки, общие БЄМ блоки и проче...
// MAIN
.page {
  padding: rem(100) 0 rem(50);
  padding-left: $sidebar-width;
  @include breakpoint($tablet) {
    padding-left: 0;
  }
  &--reset {
    padding: 0;
  }
  &__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    &--reset {
      padding: 0;
      padding-left: $sidebar-width;
    }
  }
  &__title {
    font-size: rem(21);
    color: $white;
    margin-bottom: rem(30);
    &--center {
      text-align: center;
    }
  }
}

// SIDEBAR
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;
  @include breakpoint($tablet) {
    transform: translateX(-100%);
    transition: transform .2s linear;
    .show-sidebar & {
      transform: translateX(0);
    }
  }
}

// SOCIAL
.social {
  display: flex;
  justify-content: center;
}

// STORIES
.stories {
  display: grid;
  grid-column-gap: 15px;
  grid-template-rows: 195px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: rem(30);
}
// ADD A POST
.add-post {
  margin-bottom: rem(30);
  box-shadow: 0 15px 25px rgba($black, 0.45);
  background-color: $secondary;
  border-radius: 5px;
  padding: rem(15) rem(20);
}
// POST
.post {
  box-shadow: 0 15px 25px rgba($black, 0.35);
  background-color: $primary;
  margin-bottom: rem(30);
  padding: rem(25);
  border-radius: 5px;
  &__searches {
    padding-top: 1px;
  }
}

// PAGINATION
.pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(20);
}
// related
.related {
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: rem(5);
}

.comments {
  margin-top: rem(30);
}

.work {
  margin-bottom: rem(30);
  box-shadow: 0 15px 25px rgba($black, 0.35);
  background-color: $primary;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(30);
}

.cabinet {
  display: flex;
  flex-wrap: wrap;
}
.burger {
  width: rem(30);
  height: rem(20);
  position: absolute;
  top: 50%;
  left: rem(15);
  transform: translateY(-50%);
  font-size: 0;
  span,
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white;
    position: absolute;
    transition: all .3s linear;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
  }

  &.show-sidebar {
    span {
      opacity: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &::before,
    &::after {
      top: 50%;
  }
  }
}