//====================================================================================================
// SIDEBAR

.sidebar {
  &__content {
    padding: 0 rem(20);
    margin-top: rem(-50);
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 rem(20);
  }
  &__header {
    height: rem(180);
    background-color: $secondary;
  }
  &__img-top {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.profile {
  &__avatar {
    display: block;
    width: rem(100);
    height: rem(100);
    border: 2px solid $white;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 0 auto rem(20);
    position: relative;
  }
  &__name {
    font-size: rem(18);
    text-align: center;
  }
  &__profession {
    font-size: $fontSize;
    font-weight: 300;
    color: #dedede;
    text-align: center;
    margin-bottom: rem(20);
  }
  &__text {
    font-size: rem(12);
    text-align: center;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    margin: rem(30) 0;
    padding: rem(30) 0;
  }
}
.social {
  &__item {
    margin: 0 0 0 rem(15);
    &:first-child {
      margin-left: 0;
    }
  }
}

//====================================================================================================
