.pagination {
  &__item {
    margin: 0 rem(10);
  }
  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: $pagination-default-color;
    border-radius: 3px;
    text-align: center;
    color: $white;
    transition: background-color 0.2s linear;
    box-shadow: 0 0 10px rgba($black, 0.15);
    line-height: rem(40);
    &.active {
      background-color: $pagination-active-color;
      box-shadow: 0 0 10px rgba($pagination-active-color, 0.15);
    }
    &:hover {
      background-color: lighten($pagination-default-color, 5%);
    }
  }
}
