.tags {
  &__item {
    margin-right: rem(10);
    margin-bottom: rem(10);
    padding: rem(5) rem(10);
    color: $white;
    font-size: rem(11);
    background-color: #ea8c1e;
    border-radius: 3px;
    line-height: 1.3;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken(#ea8c1e, 5%);
    }
  }
}
